#experiences{
  position: relative;
  left: 0%;    
}

#etitle{
  position: absolute;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  left: 10%;

}

#edate{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.edesc{
  position: relative;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  inline-size: 50%;
  left: 45%;
  text-align: left;

}