  #projects{
    position: relative;
    left: 0%;    
  }
  
  #ptitle{
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 30%;
    left: 10%;
    text-align: left;
  }

  #ename{
    font-size: 150%;
  }

#edate{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  
  
  .pdesc{
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    inline-size: 50%;
    text-align: left;
    left: 45%;
  }