


.full-body{
  width: 100%;
  background-color: blue;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-left{
  position: absolute;
  height: 176px;
  width: 434px;
  left: -200px;
  top: -163px;
  transform: rotate(90deg);

}
.cherry1{
  position: absolute;
  height: 229px;
  width: 596px;
  left: -230px;
  top: 600px;
  transform: rotate(90deg);

}
.cherry2{
  position: absolute;
  height: 176px;
  width: 434px;
  left: -130px;
  top: 1000px;
  transform: rotate(90deg);

}
.cherry3{
  position: absolute;
  height: 229px;
  width: 596px;
  left: -200px;
  top: 180px;
  transform: rotate(90deg);
}
.top-right{
  position: absolute;
  height: 229px;
  width: 596px;
  right: -200px;
  top: 20px;
  transform: rotate(45deg);
  z-index: 1;
}

.cherry4{
  position: absolute;
  height: 229px;
  width: 596px;
  left: -200px;
  top: 1200px;
  transform: rotate(-90deg);
}
.cherry5{
  position: absolute;
  height: 229px;
  width: 596px;
  left: -200px;
  top: 180px;
  transform: rotate(90deg);
}
.cherry6{
  position: absolute;
  height: 229px;
  width: 596px;
  left: -200px;
  top: 180px;
  transform: rotate(90deg);
}

.sig{
  position: absolute;
  width: 650px;
  height: 500px;
  left: 210px;
  top: 8%;
}
.description{
  position: absolute;
  width: 31%;
  height: 29%;
  left: 27%;
  top: 60%;
  text-align: center;
  font-family: "Monaco", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 120%;
  line-height: 150%;
  color: black;
}
.topline{
  position: absolute;
  width: 31%;
  height: 0px;
  left: 27%;
  top: 58%;
  border: 1px solid black;
}
.bottomline{
  position: absolute;
  width: 31%;
  height: 0px;
  left: 27%;
  top: 91%;
  border: 1px solid black;
}

.headshot{
  position: absolute;
  top: 8%;
  right: 0;
  height: 66%;
  width: 42%;
}

.nav1{
  position: absolute;
  top: 3%;
  left: 17%;
  font-family: "Monaco", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  color: rgb(0, 0, 0);
  background: rgb(205, 131, 131);
  font-size: 20px;
  padding: 13px;
  border: 0px solid rgb(255, 255, 255);
}
.nav2{
  position: absolute;
  top: 3%;
  left: 27%;
  font-family: "Monaco", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  color: rgb(0, 0, 0);
  background: rgb(205, 131, 131);
  font-size: 20px;
  padding: 13px;
  border: 0px solid rgb(255, 255, 255);
}
.nav3{
  position: absolute;
  top: 3%;
  left: 40%;
  font-family: "Monaco", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  color: rgb(0, 0, 0);
  background: rgb(205, 131, 131);
  font-size: 20px;
  padding: 13px;
  border: 0px solid rgb(255, 255, 255);
}
.nav4{
  position: absolute;
  top: 3%;
  left: 55%;
  font-family: "Monaco", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  color: rgb(0, 0, 0);
  background: rgb(205, 131, 131);
  font-size: 20px;
  padding: 13px;
  border: 0px solid rgb(255, 255, 255);
}

.navbar{
  background-color: rgb(205, 131, 131);
  height: 20%;
  font-size: 350%;
  color:rgb(205, 131, 131);
}

.stump{
  position: absolute;
  width: 2511px;
  height: 260px;
  left: 50px;
  top: 1000px;
  z-index: -1;
}
.roots{
  position: absolute;
  width: 138px;
  height: 260px;
  left: -31px;
  top: 1000px;
  z-index: -1;
}

.branch1{
  position: absolute;
  width: 330px;
  height: 298px;
  left: 885px;
  top: 850px;
  z-index: -2;
}

.branch2{
  position: absolute;
  width: 377px;
  height: 231px;
  left: 338px;
  top: 1200px;
  z-index: -2;
}