

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#background{
  position: fixed;;
  right: -15%;
  z-index: -5;
}
.top-left{
  position: absolute;
  width: 30%;
  left: -10%;
  top: -10%;
  transform: rotate(90deg);

}
.cherry1{
  position: absolute;
  height: 40%;
  width: 45%;
  left: -25%;
  top: 50%;
  transform: rotate(90deg);

}
.cherry2{
  position: absolute;
  height: 10%;
  width: 20%;
  left: -14%;
  top: 0;
  transform: rotate(90deg);

}
.cherry3{
  position: absolute;
  height: 30%;
  width: 40%;
  left: -20%;
  top: 20%;
  transform: rotate(90deg);
}

#container{
  position: absolute;
  height: 30%;
  width: 35%;
  left: 60%;
  top: 0;
}

.top-right{
  position: absolute;
  height: 100%;
  width: 100%;
  right: -10%;
  top: 0;
  z-index: 1;
  transform: rotate(45deg)
}

.cherry4{
  position: absolute;
  height: 30%;
  width: 30%;
  left: -15%;
  top: 0;
  transform: rotate(-90deg);
}



.sig{
  position: absolute;
  width: 60%;
  height: 60%;
  left: 13%;
  top: 5%;
  z-index: -1;
  transform: rotate(5deg)
}
.description{
  position: absolute;
  width: 31%;
  height: 31%;
  left: 27%;
  top: 60%;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400%;
  font-size: 120%;
  line-height: 150%;
  color: rgb(0, 0, 0);
}
.topline{
  position: absolute;
  width: 31%;
  height: 0px;
  left: 27%;
  top: 58%;
  border: 1px solid black;
}
.bottomline{
  position: absolute;
  width: 31%;
  height: 0px;
  left: 27%;
  top: 85%;
  border: 1px solid black;
}

.headshot{
  position: absolute;
  top: 8%;
  right: 0%;
  height: 78%;
  width: 65%;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav1{
  position: absolute;
  cursor: pointer;
  top: 0;
  height: 8%;
  left: 17%;
  font-family: "Monaco", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(237, 84, 84);
  font-size: 35%;
  padding: 1%;
  font-weight: 900;
  border: 0px solid rgb(255, 255, 255);
}
.nav1:hover {background-color: rgb(236, 193, 193);}
.nav3:hover {background-color: rgb(236, 193, 193);}
.nav2:hover {background-color: rgb(236, 193, 193);}
.nav4:hover {background-color: rgb(236, 193, 193);}

.dropdown1{
  position: absolute;
  display: inline-block;
  top: 0;
  height: 8%;  
  left: 29%;
}

.dropdown-content1 {
  color: rgb(237, 84, 84);
  font-family: "Monaco", monospace;
  font-size: 40%;
  top: 95%;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(255, 3, 3, 0.2);
  z-index: 1;
}

.dropdown2{
  position: absolute;
  display: inline-block;
  top: 0;
  height: 8%;  
  left: 43%;
}

.dropdown-content2 {
  color: rgb(237, 84, 84);
  font-family: "Monaco", monospace;
  font-size: 40%;
  top: 95%;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(255, 3, 3, 0.2);
  z-index: 1;
}
.dropdown3{
  position: absolute;
  display: inline-block;
  top: 0;
  height: 8%;  
  left: 58%;
}

.dropdown-content3 {
  color: rgb(237, 84, 84);
  font-family: "Monaco", monospace;
  font-size: 40%;
  top: 100%;
  display: none;
  position: absolute;
  background-color: rgb(241, 115, 115);
  box-shadow: 0px 8px 16px 0px rgba(110, 78, 78, 0.2);
  z-index: 1;

}
.a:hover {background-color: rgb(241, 115, 115);}

.a{
  color: rgb(0, 0, 0);
  width:100%;
  left: -10%;
  cursor: pointer;
  position: relative;
  font-family: "Monaco", monospace;
  font-size: 90%;
  background-color:rgb(255, 255, 255);
  transition: all 0.5s ease-in;
  border: none;
}

.b:hover {background-color: rgb(241, 115, 115);}

.b{
  color: rgb(0, 0, 0);
  width:110%;
  border-width: 130%;
  cursor: pointer;
  position: relative;
  font-family: "Monaco", monospace;
  font-size: 90%;
  border: none;
  background-color:rgb(255, 255, 255);
  transition: all 0.5s ease-in;
}
.dropdown1:hover .dropdown-content1 {display: block;}
.dropdown2:hover .dropdown-content2 {display: block;}


.nav2{
  position: absolute;
  cursor: pointer;
  top: 0;
  height: 100%;  
  left: 27%;
  font-family: "Monaco", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(237, 84, 84);
  font-size:35%;
  padding: 1%;
  font-weight: 900;
  border: 0px solid rgb(255, 255, 255);
}
.nav3{
  position: absolute;
  cursor: pointer;
  top: 0;
  height: 100%;
  left: 40%;
  font-family: "Monaco", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(237, 84, 84);
  font-size: 35%;
  padding: 1%;
  font-weight: 900;
  border: 0px solid rgb(255, 255, 255);
}
.nav4{
  position: absolute;
  cursor: pointer;
  top: 0;
  height: 100%;  
  left: 55%;
  font-family: "Monaco", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(237, 84, 84);
  font-size: 35%;
  font-weight: 900;
  padding: 1%;
  border: 0px solid rgb(255, 255, 255);
}

.navbar{
  background-color: rgb(237, 84, 84);
  height: 20%;
  font-size: 350%;
}

#socials-container{
  position: absolute;
  height:30%;
  width: 30%;
  top: 79%;
  right: 12%;
}

.social{
  cursor:pointer;
}

.github{
  position: absolute;
  right: 12%;
  height: 18%;
  width: 10%;
}
.linkedin{
  position: absolute;
  right: 25%;
  height: 15%;
  width: 8%;
}
.instagram{
  position: absolute;
  right: 37%;
  height: 15%;
  width: 8%;
}
.facebook{
  position: absolute;
  right: 0;
  height: 18%;
  width: 10%;
}

#full-body2{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

#container2{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 100%;
  z-index: -1;
  overflow-x: scroll;
  overflow-y: hidden;
}

.stump{
  position: absolute;
  width: 175%;
  height: 260px;
  left: 0px;
  top: 30%;
  z-index: -1;
}
.roots{
  position: absolute;
  width: 12%;
  height: 30%;
  left: -5%;
  top: 30%;
  z-index: -1;
}

.branch1{
  position: absolute;
  width: 20%;
  height: 40%;
  left: 20%;
  top: 10%;
  z-index: -2;
}

.branch2{
  position: absolute;
  width: 20%;
  height: 30%;
  left: 45%;
  top: 53%;
  z-index: -2;
}

.uproot{
  position: absolute;
  width: 10%;
  height: 20%;
  right: -75%;
  top: 32%;
  z-index: -1;
  transform: rotate(180deg)
}

.cherry5{
  position: absolute;
  height: 40%;
  width: 40%;
  right: -84%;
  top: 40%;
  transform: rotate(-90deg);
}
.cherry6{
  position: absolute;
  height: 229px;
  width: 596px;
  right: -84%;
  top: 49%;
  transform: scaleX(-1);
  transform: rotate(90deg);
}
.cherry7{
  position: absolute;
  height: 229px;
  width: 596px;
  right: -90%;
  top: 30%;
  transform: rotate(-90deg);
}
.cherry8{
  position: absolute;
  height: 229px;
  width: 596px;
  right: -90%;
  top: 30%;
  transform: rotate(-90deg);
}
.cherry9{
  position: absolute;
  height: 229px;
  width: 596px;
  right: -95%;
  top: 30%;
  transform: scaleX(-1);
  transform: rotate(-90deg);

}
.cherry10{
  position: absolute;
  height: 229px;
  width: 596px;
  right:-100%;
  top: 10%;
  transform: rotate(-99deg);
}
.cherry10{
  position: absolute;
  height: 229px;
  width: 596px;
  right:-88%;
  top: 40%;
  transform: rotate(-99deg);
}
.cherry11{
  position: absolute;
  height: 229px;
  width: 596px;
  left:-20%;
  top: 50%;
  transform: scaleX(-1);
  transform: rotate(90deg);
}
.cherry12{
  position: absolute;
  height: 229px;
  width: 596px;
  left:-15%;
  top: 10%;
  transform: rotate(-90deg);
}

.branch3{
  position: absolute;
  width: 330px;
  height: 298px;
  left: 80%;
  top: 12%;
  z-index: -2;
}

.branch4{
  position: absolute;
  width: 377px;
  height: 231px;
  left: 105%;
  top: 53%;
  z-index: -2;
}

#timeline1{
  position: absolute;
  width: 25%;
  height: 25%;
  top: 55%;
  left: 25%;
}

#timeline2{
  position: absolute;
  width: 20%;
  height: 25%;
  top: 15%;
  left: 50%;
}

#timeline3{
  position: absolute;
  width: 55%;
  height: 20%;
  top: 20%;
  left: 105%;
}

#timeline4{
  position: absolute;
  width: 22%;
  height: 22%;
  top: 60%;
  left: 80%;
}

#timeline5{
  position: absolute;
  width: 20%;
  height: 20%;
  top: 20%;
  left: 130%;
}

#timeline6{
  position: absolute;
  width: 12%;
  height: 21%;
  top: 60%;
  left: 135%;
  overflow-x: visible;
}



.timage1{
  position: absolute;
  top: -10%;
  left: 0%;
  font-size: 1000%;
}

.timage2{
  position: absolute;
  top:0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.timage3{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 30%;
  height: 50%;
}

.timage4{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 42%;
  height: 70%;
  border-radius: 100px;

}

.timage5{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 50%;
}

.timage6{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

#full-body3{
  position: absolute;
  width: 100%;
  height: 170%;
  top: 200%;
  background-color: rgba(255, 242, 240, 0.456);
}

#left-border{
  position: absolute;
  left: -20%;
}

.exp-title{
  font-size: 300%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 3px solid black;
  border-left: none;
  border-right: none;
}






